<div class="jumbotron jumbotron-fluid container-fluid">
    <h1 class="display-4">Welcome to "Vehicle Management Project"</h1>
    <p class="lead">Vehicle Management Project is a software application designed to streamline and automate the management of a fleet of vehicles. It enables organizations to efficiently track, manage, and maintain their vehicles, including cars, trucks, and other types of transport.</p>
    <hr class="my-4">
    <p>This software helps reduce operational costs, improve vehicle lifespan, enhance safety, and ensure compliance with regulatory requirements.</p>
    <p class="lead">
      Go to Vehicles, Services or Users to check other information...
    </p>
  </div>